
 <!-- property binding
      [disabled]="!allowNewServer"
      
      event binding 
      (click)="onCreateServer()"
 -->
<label>Server Name</label>
<!-- <input
 type="text"
 class="form-control"
 (input)="onUpdateServerName($event)"
> -->

<!-- using two-way binding -->
<input
 type="text"
 class="form-control"
 [(ngModel)]="serverName"
>

<input
  type="text"
  class="form-control"
  [(ngModel)]="userName"
>

<!-- <p>{{ serverName }}</p> -->

<button 
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  >Add Server
</button>

<button
  class="btn btn-primary"
  [disabled]="userName === ''"
>Reset User
</button>

<!-- structural directive -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>

<app-server></app-server>
<app-server></app-server>
